@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#about-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; /* Change to column for small screens */
    align-items: center;
    padding: 80px 12%;
}

.about-left img {
    width: 100%; /* Make the image fill its container */
    height: auto;
    transform: translateY(0); /* Adjust as needed */
}

.about-right {
    width: 100%; /* Take full width on small screens */
    margin-top: 20px; /* Add some space between the image and content */
}

/* ... (existing styles remain unchanged) */

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
    #about-section {
        padding: 50px 5%; /* Adjust padding for smaller screens */
    }

    .about-right ul {
        width: 100%; /* Take full width on small screens */
    }

    .expertise {
        text-align: center; /* Center text on small screens */
    }
}

.button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	background-color: #0262bc;
	color: #fff;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  .button:hover {
	background-color: #0262bc;
  }